[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# Based on https://github.com/pjaos/p3lib/security/dependabot/10
tornado = ">=6.3.2"
pillow = ">=9.0.1"
pytest = "*"
cryptography = "*"
paramiko = ">=2.10.1"
plotly = "*"
pandas = "*"
bokeh = ">=3.1.0"
argon2-cffi = "*"

[requires]
python_version = "3.8"
